@use './config/index' as *;

.commentContainer {
    width: 100%;
    padding: 1.25rem;
    @include flex(start, center);

    column-gap: 0.75rem;
    border-bottom: 1px solid gray;
    cursor: pointer;

    img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        align-self: flex-start;
        background-color: aliceblue;
        object-fit: contain;
    }

    img:hover {
        filter: brightness(0.75);
        transition: .3s filter;
    }

    .commentInfo {
        flex: 1;
        @include flex(start, start);

        flex-direction: column;
        row-gap: 1rem;

        .commentHeader {
            width: 100%;

            h3, span {
                display: inline;
                margin-right: .5rem;
            }

            h3:hover {
                text-decoration: underline;
                text-underline-offset: .25rem;
            }

            span {
                color: gray;
            }
        }

        .commentContent {
            @include flex(start, start);
            flex-direction: column;
            row-gap: 2rem;

            p {
                word-break: break-all;
            }
        }

        .commentAction {
            width: 100%;
            color: gray;
            font-size: smaller;

            @include flex(start, center);
            column-gap: 1rem;

            .tick {
                display: inline-block;
                width: 0.2rem;
                height: 0.2rem;
                margin-right: 0.285rem;
                vertical-align: middle;
                border-radius: 50%;
                background-color: greenyellow;
                color: gray;
            }

            .action {
                cursor: pointer;

                .icon, span {
                    display: inline;
                    vertical-align: middle;
                    margin-right: .25rem;
                }

                .icon {
                    max-width: 18px;
                }
            }

            #likeAction:hover {
                color: rgb(228, 27, 135);
            }

            #shareAction:hover {
                color: rgb(2, 178, 2);
            }

            #commentAction:hover {
                color: rgb(0, 115, 255);
            }
        }
    }
}

.commentContainer:hover {
    background-color: $main-color;
}
