@use './config/index' as *;

.logoContainer {
    @include flex(start, center);
    cursor: pointer;

    img {
        max-width: 100px;
    }

    h2 {
        font-size: xx-large;
        font-weight: 700;
    }
}
