@use './config/index' as *;

.postContainer {
    width: 100%;
    padding: 1.25rem;
    @include flex(start, center);

    column-gap: 0.75rem;
    border-bottom: 1px solid gray;
    cursor: pointer;

    .userImage {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        align-self: flex-start;
        background-color: aliceblue;
        object-fit: contain;

        &:hover {
            filter: brightness(0.75);
            transition: .3s filter;
        }
    }

    .postInfo {
        flex: 1;
        @include flex(start, start);

        flex-direction: column;
        row-gap: 1rem;

        .postHeader {
            width: 100%;

            h3, span {
                display: inline;
                margin-right: .5rem;
            }

            h3:hover {
                text-decoration: underline;
                text-underline-offset: .25rem;
            }

            i {
                display: inline-block;
                width: 0.2rem;
                height: 0.2rem;
                margin-right: 0.285rem;
                vertical-align: middle;
                border-radius: 50%;
                background-color: greenyellow;
            }

            span, i {
                color: gray;
            }
        }

        .postContent {
            @include flex(start, start);
            flex-direction: column;
            row-gap: 2rem;

            p {
                word-break: break-all;
            }

            .title {
                font-weight: 700;
                font-size: larger;
                letter-spacing: .025rem;
            }

            .postImage {
                width: 100%;
                max-height: 25rem;
                object-fit: contain;
                margin: 1rem 0;
                border: 1px solid gray;
                border-radius: $border-radius;
            }
        }

        .postAction {
            width: 100%;
            color: gray;
            font-size: smaller;

            @include flex(space-between, center);

            .action {
                flex: 1;
                cursor: pointer;

                label {
                    width: 24px;
                    cursor: pointer;
                }

                .icon {
                    margin-right: .25rem;
                }

                .icon {
                    max-width: 18px;
                }

                .btnAction {
                    background-color: transparent;
                    border: none;
                    color: gray;
                    cursor: pointer;
                }

                & > * {
                    display: inline-block;
                    vertical-align: middle;
                }
            }

            #likeAction:hover, .hasLike {
                color: rgb(228, 27, 135);
                button {
                    color: rgb(228, 27, 135);
                }
            }

            #shareAction:hover {
                color: rgb(2, 178, 2);
                button {
                    color: rgb(2, 178, 2);
                }
            }

            #commentAction:hover {
                color: rgb(0, 115, 255);
                button {
                    color: rgb(0, 115, 255);
                }
            }
        }
    }

    &:hover {
        background-color: $main-color;
    }
}

.postInfoLimit {
    max-height: 100px;

    .postTitle {
        font-weight: 700;
        font-size: large;
        word-break: break-all;
        letter-spacing: .025rem;
    }

    .lastChange {
        font-size: small;
        margin-bottom: 1rem;
        margin-top: .2rem;
        color: gray;
        font-weight: 100;
    }

    .desc {
        word-break: break-all;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: small;
    }
}
